{%extends "blogs/base.html"%}

{% block content%}
    <ul>
        {% for post in posts %}
        <li>
            <h3><a href="{% url 'blogs:post' post.id %}">{{ post.owner.username }}</a></h3>
            <p>{{ post }}</p>
            <p>{{ post.date_added|date:'M d, Y H:i'}}</p>
        </li>
        {% empty %}
            <li>No post here.</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'blogs:new_post' %}">Add a new post</a>
    {% endif %}
{% endblock content%}