{% extends "blogs/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
    <h3><a href="{% url 'blogs:post' post.id %}">Post N {{post.id}}</a></h3>
    <p>Add a new comment:</p>
{% endblock page_header %}


{% block content %}
    <form action="{% url 'blogs:new_comment' post.id %}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name='submit' class="btn btn-primary">Add new comment</button>
        {% endbuttons %}
    </form>

{% endblock content %}