{% extends 'blogs/base.html' %}

{% block content %}
    <h3>{{ post.owner }}</h3>
    <p>{{ post.text|linebreaks }}</p>

    <ul>
        {% for comment in comments %}
            <li>
                <p>User: <b>{{ comment.owner.username }}</b></p>
                <p>{{ comment.text|linebreaks }}</p>
                <p>{{ comment.date_added|date:'M d, Y H:i' }}</p>
                {% if user == comment.owner %}
                    <p><a href="{% url 'blogs:edit_comment' comment.id %}">Edit comment</a></p>
                {% endif %}
            </li>
        {% empty %}
            <li>No comments. You could leave your comments here.</li>
        {% endfor %}
    </ul>

    <p>
        {% if user.is_authenticated %}
            <a href="{% url 'blogs:new_comment' post.id %}">Add a new comment</a>
        {% endif %}
    </p>
    <p>
        {% if user == post.owner %}
            <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
        {% endif %}
    </p>

{% endblock content %}

